.pagina-login {
    background-color:#f3f3f3;
    height: 100vh;

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12vw;

        .login {
            background-color: #bb65c5;
            height: 25vw;
            width: 25vw;
            padding: 3vw 5vw 5vw 5vw;
            border-radius: 2vw;

            a {
                text-decoration: none;

                p {
                    font-family: 'Montserrat', sans-serif;
                    color: #38063f;
                    font-size: 1vw;
                    font-weight: 400;
                    margin-bottom: 1vw;
                }
                p:hover {
                    color: #f7acff;
                    font-weight: 500;
                }
            }

            .input {
                display: flex;
                flex-direction: column;
                gap: 0.5vw;
                margin-bottom: 2vw;


                label {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.5vw;
                    color: #38063f;
                    font-weight: 500;
                }
                div {
                    position: relative;

                    i {
                     position: absolute;
                     color: #6c0d77;
                     top: 0.7vw;
                     left: 0.5vw;
                    }
                      input {
                    width: 15vw;
                    height: 2.5vw;
                    border: 0.1vw solid #fbfcff;
                    padding: 1vw 2vw;
                    color: #071327;
                    font-size: 1vw;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    outline: none;
                    border-radius: 0.4vw;
                }


                }
              
              
            }  button {
                    padding: 1vw 6vw;
                    background-color: #fafcff;
                    border-radius: 1vw;
                    font-family: 'Montserrat', sans-serif;
                    color: #071327;
                    font-size: 1vw;
                    font-weight: 700;
                    border: 3px solid #fff;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;
                }
                button:hover {

                    border: 3px solid #38063f;
                    background-color: #bb65c5;
                    color: #fff;
                }
        }
    }
}